
*{
          margin:0;
          padding: 0;
          font-family: 'poppins', 'sans-serif';
}

body{
          background-color: rgb(15, 31, 41);
          color: white;


}

.header{  position: relative;
     top: 0;
            background:rgb(15, 31, 41) ;
          width: 100%;
          height: 50px;
           border: 2px solid black;
          border-radius: 2px;
          padding: 20px 10px;
           display: flex;
           align-items: center;
           justify-content: space-around;

}

 




.logo{   position: relative;
          font-size: 25px;
          color: white;
          text-decoration: none;
          font-weight: 600;
          
}

.logo::before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgb(15, 31, 41);
          animation: showRight 1s ease forwards;
          animation-delay: .3s;
}
.navbar a {
           font-size: 18px;
          color: white;
          text-decoration: none;
          font-weight: 500;
          margin-left: 40px;
          transition: .3s;

}

.navbar a:hover,
.navbar a.active{
          color: #00abf0;       
}

.home{    height: 100vh;
          display:flex;
          align-items: center;
          padding:  0 5%;
          background: url(Images/My_background_image3.png) no-repeat;
          background-size: cover;
          padding:0 10%;

}

.home-section{
          
          max-width: 600px;

}




.home-section h1{ 
          position:relative ;
          font-size: 50px;
          font-weight: 700;
}
.home-section h1::before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background:#0d151d;
          animation: showRight 1s ease forwards;
          animation-delay: .3s;
}
.home-section h3{ position: relative;
          font-size: 32px;
          font-weight: 700;
          color: #00abf0;
}
.home-section h3::before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: #0d151d;
          animation: showRight 1s ease forwards;
          animation-delay: .3s;
}
.home-section p{ position: relative;
          font-size: 16px;

}
.home-section p::before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: #0d151d;
          animation: showRight 1s ease forwards;
          animation-delay: .3s;
}
.home-section .btn-box{
          display: flex;
          justify-content: space-between;
          width: 400px;
          height: 50px;
          margin: 20px 0px 40px;
          
          

}

.btn-box a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 100%;
          background: #00abf0;
          border: 2px solid #00abf0;
           border-radius:8px ;
           font-size:19px ;
           color: black;
           text-decoration: none;
           font-weight: 600;
           letter-spacing: 1.5px;
           transition: .5s;

}
.btn-box .a2, 
.btn-box .read-more{
          background: transparent;
          color: aqua;
}

.btn-box a:hover{
     background-color: #00abf0;
     color: black;
     box-shadow: 0 0 1rem #00abf0;
}


.social-media{
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 40px;
          width: 400px;
          /* background-color: red; */
          

}

.social-media a{
          /* position: relative; */
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          width: 35px;
          height: 35px;
          background:transparent ;
          border: 2px solid #00abf0;
          border-radius: 50%;
          font-size: 20px;
          color: #00abf0;
          text-decoration: none;
          transition: .5s ease;
}
.social-media a:hover{
       background: #00abf0;
       color:rgb(11, 65, 104);
       box-shadow: 0 0 1rem #00abf0;
}
/* about section */
.about{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 20px;
     background: url(Images/plane_background1.png);

}
.about-content{
     flex: 1 1 2rem;
}

.about-img{
        height: 400px;
        width:350px; 
        margin: 20px 50px;

}
.about-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
       border-radius: 1.5rem;
      border: o.15rem solid #00abf0;
     transition: .3s;
     box-shadow: 0 6px 10px rgb(0, 0, 0,0.3);

}
.img:hover{
    transform: scale(1.02) rotate(-2deg);
}
.about-content h2{
     text-align: left;
     font-size: 45px;   
}
span{
     color: #00abf0;
}
.about-content h3{
     text-align: left;
     font-size: 25px;

}

.about-content p{
font-size: 18px;
margin: 20px  200px 20px 0;
}
     
/* services section */

.services{
     background:url(Images/plane_background1.png);
}
.services .heading{
     margin: 20px 0 20px 0;
     
}
.services-container {
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
   
}
.services-container .services-box{
     position: relative;
     display: flex;
     flex:0 0 260px;
     flex-direction: column;
     height: 300px;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
     border-radius: 1.5rem;
     text-align: center;
     border: o.15rem solid #00abf0;
     transition: .3s;
     box-shadow: 0 6px 10px rgb(0, 0, 0,0.3);

    /*image set in background  */
}
.services-box.box1{
     background:url(Images/services_image1.jpg);
      background-size: cover;
     background-repeat: no-repeat;
     background-position-x: center;
     
    
}
.services-box.box2{
     background:url(Images/services_image2.jpg);
      background-size: cover;
     background-repeat: no-repeat;
     background-position-x: center;
    
}
.services-box.box3{
     background:url(Images/services_image3.jpg);
      background-size: cover;
     background-repeat: no-repeat;
     background-position-x: center;
    
}

.services-box::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    border-radius: inherit;

}

.services-box *{
    position: relative;
    color: #ebeef7;
}




.services-container .services-box:hover{
     transform: scale(1.1);
     border-color: #00abf0;
}

.heading{
     text-align: center;
     font: 4.5rem;

}

footer{  
          
          /* background-color: rgb(15, 31, 41); */
          
          height: 25vh;
          width: 100%;
           border: 2px solid black;
          border-radius: 2px;
          
          
}

footer a{ display: flex;
          justify-content: center;
          align-items: center;
         font-size: 16px;
          color: white;
          text-decoration: none;
          font-weight: 500;
          margin-left: 40px;
          padding-top: 10px;
         

}


/* keyframe Animations */
@keyframes showRight {
          100%{
                    width: 0;
          }
          
}

